# Ignore all by default
*

# Project basics
!.gitignore
!README.md
!LICENSE

# Setup script
!setup.sh

# Shell configs
!.zshrc
!.bashrc

# Track all configs
!.config/
!.config/**

# Exception configs
.DS_Store
.config/raycast
.config/background
